body{
    margin: 0;
    font-family: sans-serif;
    
}

header{
    width: 100%;
    background: #fa6900;
}

#btn-menu {
    display: none;
}

  header #logo{
     display: none;
    }

header label {
    display: none;
    width: 22px;
    height: 25px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

header #item:hover{
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

 .menu a img{
     position: absolute;
     margin-left: 5px;
     align-content: center;
    }

.menu #desple {
    display: none;
    background: #333333;
    position: absolute;
}

.menu #item:hover #desple {
    display: block;
}

.menu li:hover {
    background: #ff6600;
        border-top: 1px solid #fff;
}

.menu #ima{
   margin-left: 14.2%;
}

.menu li a{
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

body #intro {
    float: left;
    padding: 15px;
    width: 67%;
    text-align: justify;
    padding-bottom: 1px;
}

body #pa{
    float: inherit;
    width: auto;
}
div h1{
    color: black;
    font-size: 30px;
    margin-left: 2%;
    width: 96%;
    background: #ad0505;
}

body #com{
    color: floralwhite;
    background: #0a0000;
    padding-top: 25px;
    height:  60%;
    width: 100%;
    align-items:stretch;
}

body #indicad{
    margin-top: 10px;
    font-family: serif;
    font-size: 18px;
    padding: 10px;
    float: right;
    margin-right: 2%;
    border: 1px solid #333333;
    width: 260px;
}

body #ks{
    width: 100%;
    text-align-last: center;
    padding-top: 10px;
}

body #kc{
    border: 2px solid #ffffff;
    margin-top: 10px;
}
body #cap1{
    padding-top: 1px;
    height: 20%;
    padding: 20px;
    width: 95%;
    text-align: justify;
}

body #vo, #co, #re{
     width: 100%;
   text-align-last: center;
}

.col{
     padding: 5px;
  list-style-type: none;
  margin-left: 1px;
}

footer{
  padding-top: 5px;
  padding-bottom: 2px;
}

.container{
  background-color: red;
    width: 100%;
}

 .impressum{
      text-align: right;
      padding-left: 20px;
}

.loga{
  height: 8vh;
}
 
.row{
    display: flex;
    padding-right: 20px;
}
 .impressum{
        float: right;
        margin-left: 50%;
     color: aliceblue;
    }
.sozial  {
      float: left;
    margin-bottom: 1px;
  }

body #in{
        float: right;
        width: auto;
        padding: 1px;
     margin-right: 5px;
}
@media (max-width:1010px) and (min-width:320px){
    header{
        width: 100%;
         background: #fa6900;
    }
    
    header #item:hover{
    background: #ff6600;
}
    
    header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        width: 100%;
        margin-left: -100%;
        transition: all 0.3s;
    }
    
    .menu ul{
        background: #333333;
        flex-direction: column;
    }
    
    .menu li{
        border-top: 1px solid #fff;
    }
    
    .menu #item:hover #desple {
    display: none;
    background: #666666;
}
    
    .menu #desple {
     position: relative;
}
    
    .menu a img{
    position: absolute;
    right: 10px;
    align-content: center;
    }
    
    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
        margin: 0;
    }
    
   header #logo{
    position: absolute;
    margin-top: -40px;
    margin-left: 66%;
     display: block;
    }
    .menu #ima{
        visibility: hidden;
        width: 0;
    }
    
    body #cap1{
     width: 90%;
     position: inherit;
}
    body #in{
        width: 100%;
        padding: 1px;
        }
    
    body #indicad{
        margin-left: 22.5%;
        margin-top: 5px;
        float: left;
}
    body #ks{
        width: 100%;
        padding: 1px;
        }
    
    body #kc{
        width: 300px;
        height: 200px;
    }
    
    
body #j{
    width: 400px;
    height: 180px;
}

     body #intro {
    width: 90%;
}
    
   .sozial  {
      width: 10px;
      margin-left: -3%;
      margin-bottom: 0px;
  }
     .impressum{
        float: right;
        margin-left: 52%;
    }    
}

body #correo{
    color: aliceblue;
}